body{
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* make a class for widget boxes */

.container{
    padding: 20px;
    width: 40%;
    height: 40%;
    background-color: #d4cdcd;
    margin: auto;
    border-radius: 5%;
    margin-top: 10%;
    
}

.container-internal {
    padding: 20px;
    width: 75%;
    height: 25%;
    background-color: #d4cdcd;
    border-radius: 5%;
    margin: 5px;
    right: 50%;
    
}

.center{
    text-align: center;
}